/* Escribe aquí las clases que quieras personalizar. Consulta la documentación en http://blog.mercadoshops.com/html/#EditandoCSS */

body {
	max-width: 100%;
	padding: 0;
	margin: 0;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px !important;
	line-height:20ps;
	font-weight: normal;
	color: #F60;
	text-decoration: none;
}

.price {
	color: #333;
}

.ch-container {
	padding: 0px;
}

.wrapper {
	padding: 0;
}

.wrapper.top {
	padding-top: 0;
}

/* Header */

.navWrapper .ch-g4-5 {
	width: 92%;
}

.navWrapper {
	padding: 5px 0;
}

.background {
    background-color: #f7941e;
}

.component.simpleMenu li.first .link {
	color: #fff;
}

.header-top {
	background: #000;
}

.share, span.find, .component.cartButton .bg-cart, .sprite-footer {
	background-image: url('http://www.kolors-odinroxs.com/images/sprite.png');
	background-repeat: no-repeat;
	background-color: transparent;
	display: block;
	text-indent: -9999px;
}

.sprite-footer {
	background-image: url('http://www.kolors-odinroxs.com/images/sprite.png'); 
}

.fb {
    width: 23px;
    height: 22px;
    background-position: 0 -37px;
    background-size: 100% auto;
}

.tw {
    width: 23px;
    height: 23px;
    background-size: 100% auto;
    background-position: 0 -60px;
}

.pt {
    width: 23px;
    height: 23px;
    background-size: 100% auto;
    background-position: 0 -14px;
}

.ins {
	width: 23px;
    height: 23px;
    background-size: 100% auto;
    background-position: 0 -14px;
}

.component.searchBar {
	float: left;
}

#searchWrap.searchWrapper {
    bottom: 0;
    top: 59px;
    right: 40px;
}

.component.img-logo {
	padding-top: 44px;
	margin-bottom: 15px;
}


.component.img-logo a {
	display: inline;
}

.component.img-logo img {
    max-width: 25%;
    margin: 0 auto;
    display: block;
}

span.find {
	display: block;
    width: 33px;
    height: 19px;
    float: left;
    background-size: 94% auto;
    margin: 3px;
}

#searchWrap .component.searchBar #searchForm .inputField {
	background: none;
	height: 14px;
	width: 145px;
	margin: 0;
	color: #fff;
}

fieldset.subcomponent.search {
	float: left;
}

.ch-btn.ch-secondary {
	font-size: 12px;
    height: 26px;
    border: 1px solid white;
    background: none;
    color: white;
    border-radius: 0;
    margin: 0;
}

.ch-btn.ch-secondary:hover {
	background: #fff;
	color: #000;
}

.component_share {
    float: left;
    margin-top: 0px;
}

.component_share li{
	display: inline-block;
    margin-right: 2px;
}

span.share {
    float: left;
}

.component.cartButton {
	float: right;
	display: block;
}

.component.cartButton .bg-cart {
	float: right;
    height: 11px;
    width: 20px;
    background-size: 65% auto;
    background-position: 0 -122px;
}

.menu {
	max-width: 760px;
    display: block;
    padding-bottom: 30px;
    overflow: hidden;
    margin: 0 auto;
}

.menu li {
	float: left;
    display: inline-block;
    margin-right: 20px;
}

.menu li a {
	color: #fff;
    text-transform: uppercase;
}

.simpleMenu li a {
	color: #fff;
}

/* Main Content */

.mainContent .ch-container {
	padding: 0;
}

/* CAROUSEL */

.box-content-list {
	height: 680px;
}

.ch-carousel-adaptive {
	margin: 0;
}

.content-list li {
	margin: 0;
}

.content-list li figure {
	display: block;
}

.content-list img {
    display: block;
    height: auto;
    width: 100%;
}

.content-list li article {
	width: 100%;
}

.ch-carousel-disabled {
	display: block;
}

.ch-carousel-pages {
	bottom: 340px;
	position: absolute;
}

.ch-carousel-prev, .ch-carousel-next {
	top: 290px!important;
} 

/* Footer */

footer.wrapper {
	background: #000;
	padding: 80px 40px;
}

.companyData a.logo {
	overflow: hidden;
    display: block;
    margin-bottom: 35px;
}

.companyData ul {
	padding-left: 10px;
}

.companyData ul li {
	margin-bottom: 15px;
}

.companyData ul li a {
	text-transform: uppercase;
    color: #fff;
    font-weight: 300;
}

.component.addressExtended .socialData dd {
	float: left;
	margin-left: 35px;
}

.component.addressExtended .socialData dd span {
    display: block;
    width: 24px;
    height: 28px;
    float: left;
}

.direccion {
	background-position: 0 -178px;
    width: 36px;
    background-size: 177% auto;
    height: 25px;
}

.telefono {
	background-position: 0 -226px;
    width: 30px!important;
    background-size: 155% auto;
    height: 29px!important;
}

.mail {
	background-position: 0 -255px;
    width: 33px!important;
    background-size: 141% auto;
    height: 32px!important;
}

.component.addressExtended .socialData dd:first-child {
	margin-left: 0;
}

.component.addressExtended dl.companyData {
	width: 30%;
}

.component.addressExtended dl.socialData {
	width: 65%;
	overflow: hidden;
	padding-top: 12px;
}

.component.addressExtended dl.socialData p {
	padding-left: 45px;
	color: #f7941e;
	text-transform: uppercase;
}



    

    
